@charset "UTF-8";
/* line 1, C:/Users/xmsc/htdocs/sat-intranet/cd/css/sat.sass */
body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1em;
  color: #333;
  background-color: #f5f4f1; }

/* line 8, C:/Users/xmsc/htdocs/sat-intranet/cd/css/sat.sass */
a {
  color: #6f6660;
  text-decoration: none; }
  /* line 11, C:/Users/xmsc/htdocs/sat-intranet/cd/css/sat.sass */
  a:hover {
    color: #cc0000; }

/* line 14, C:/Users/xmsc/htdocs/sat-intranet/cd/css/sat.sass */
h1 {
  font-size: 2em;
  color: #cc0000;
  font-weight: normal;
  margin: 0; }
  /* line 19, C:/Users/xmsc/htdocs/sat-intranet/cd/css/sat.sass */
  h1 a {
    color: #cc0000;
    text-decoration: none; }

/* line 23, C:/Users/xmsc/htdocs/sat-intranet/cd/css/sat.sass */
h2 {
  font-size: 1.6em;
  font-weight: normal;
  margin: 0 0 1em 0; }

/* line 28, C:/Users/xmsc/htdocs/sat-intranet/cd/css/sat.sass */
.txt-small {
  font-size: 0.8em; }

/* line 31, C:/Users/xmsc/htdocs/sat-intranet/cd/css/sat.sass */
ul {
  margin-bottom: 1em;
  list-style: none;
  padding-left: 1em; }
  /* line 35, C:/Users/xmsc/htdocs/sat-intranet/cd/css/sat.sass */
  ul li:before {
    content: "– "; }
  /* line 38, C:/Users/xmsc/htdocs/sat-intranet/cd/css/sat.sass */
  ul li {
    text-indent: -0.9em; }

/* line 41, C:/Users/xmsc/htdocs/sat-intranet/cd/css/sat.sass */
section {
  margin: 1em;
  padding: 1em;
  background-color: #fff; }

/* line 46, C:/Users/xmsc/htdocs/sat-intranet/cd/css/sat.sass */
table {
  font-size: 1em;
  display: table;
  border-collapse: collapse;
  border-spacing: 0;
  margin-bottom: 1em; }
  /* line 52, C:/Users/xmsc/htdocs/sat-intranet/cd/css/sat.sass */
  table caption {
    caption-side: bottom;
    text-align: left;
    padding: 1em;
    font-size: 0.9em; }
  /* line 65, C:/Users/xmsc/htdocs/sat-intranet/cd/css/sat.sass */
  table tr th {
    background-color: #bab6ae;
    padding: 1em;
    line-height: 1em;
    height: 1em;
    text-align: left;
    border: 1px solid white; }
  /* line 72, C:/Users/xmsc/htdocs/sat-intranet/cd/css/sat.sass */
  table tr td {
    text-align: left;
    padding: 1em;
    vertical-align: top;
    border: 1px solid white; }
  /* line 78, C:/Users/xmsc/htdocs/sat-intranet/cd/css/sat.sass */
  table tr:nth-child(odd) {
    background-color: #f5f4f1; }
  /* line 82, C:/Users/xmsc/htdocs/sat-intranet/cd/css/sat.sass */
  table tfoot td {
    background-color: #d6d3cc; }

/* line 87, C:/Users/xmsc/htdocs/sat-intranet/cd/css/sat.sass */
button {
  color: #333;
  font-size: 0.9em;
  background: #7f766e;
  padding: 1em;
  border-radius: 3px;
  margin: 0; }
  /* line 94, C:/Users/xmsc/htdocs/sat-intranet/cd/css/sat.sass */
  button:hover {
    /*cursor:pointer; */ }

/* line 97, C:/Users/xmsc/htdocs/sat-intranet/cd/css/sat.sass */
.sat-btn-1 {
  background-color: #666666;
  border: 1px solid #333333;
  color: #ffffff; }
  /* line 101, C:/Users/xmsc/htdocs/sat-intranet/cd/css/sat.sass */
  .sat-btn-1:hover {
    background-color: #333333;
    border: 1px solid #333333;
    color: #ffffff; }

/* line 106, C:/Users/xmsc/htdocs/sat-intranet/cd/css/sat.sass */
.sat-btn-2 {
  background-color: #9e9890;
  border: 1px solid #7f766e;
  color: #ffffff; }
  /* line 110, C:/Users/xmsc/htdocs/sat-intranet/cd/css/sat.sass */
  .sat-btn-2:hover {
    background-color: #7f766e;
    border: 1px solid #7f766e;
    color: #ffffff; }

/* line 115, C:/Users/xmsc/htdocs/sat-intranet/cd/css/sat.sass */
.sat-btn-3 {
  background-color: #cc0000;
  border: 1px solid #ab0000;
  color: #ffffff; }
  /* line 119, C:/Users/xmsc/htdocs/sat-intranet/cd/css/sat.sass */
  .sat-btn-3:hover {
    background-color: #ab0000;
    border: 1px solid #ab0000;
    color: #ffffff; }

/* line 124, C:/Users/xmsc/htdocs/sat-intranet/cd/css/sat.sass */
.sat-btn-4 {
  background-color: #f4f3f0;
  border: 1px solid #d6d3cc;
  color: #000000; }
  /* line 128, C:/Users/xmsc/htdocs/sat-intranet/cd/css/sat.sass */
  .sat-btn-4:hover {
    background-color: #d6d3cc;
    border: 1px solid #d6d3cc;
    color: #000000; }

/* line 133, C:/Users/xmsc/htdocs/sat-intranet/cd/css/sat.sass */
.box {
  padding: 1em;
  margin: 1em 0; }
  /* line 136, C:/Users/xmsc/htdocs/sat-intranet/cd/css/sat.sass */
  .box.box-error {
    background-color: #ffffaa; }
  /* line 138, C:/Users/xmsc/htdocs/sat-intranet/cd/css/sat.sass */
  .box.box-info {
    background-color: #ccddee; }

/* site button ------------------------------ */
/* line 144, C:/Users/xmsc/htdocs/sat-intranet/cd/css/sat.sass */
button.view-hex {
  display: none; }

/*# sourceMappingURL=sat.css.map */
