body{
	margin:0;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 1em;
    background-color: #f5f4f1;
} 
h1{
    font-size: 1.4em;
    font-weight: normal;
    margin: 0;
    color: #cc0000;
}
div.menu{
    background-color: #f5f4f1;
    padding:10px;
    box-shadow: 5px 5px 5px #d6d3cc;
    margin: 0 0 20px 0;
}
div.content{
    background-color: #ffffff;
    padding: 10px;
    box-shadow: 2px 2px 2px #d6d3cc;
    margin: 10px;
}
button{
    color: #fff;
    font-size: 0.9em;
    background: #7f766e;
    padding: 1em;
    border-radius: 3px;
    margin:0;
}
button:hover{
    /*cursor:pointer;*/
}
.sat-btn-1{
    background-color: #666666;
    border: 1px solid #333333;
    color:#ffffff;
}            
.sat-btn-1:hover{
    background-color: #333333;
    border: 1px solid #333333;
    color:#ffffff;
}

.sat-btn-2{
    background-color: #9e9890;
    border: 1px solid #7f766e;
    color:#ffffff;
}            
.sat-btn-2:hover{
    background-color: #7f766e;
    border: 1px solid #7f766e;
    color:#ffffff;
} 

.sat-btn-3{
    background-color: #cc0000;
    border: 1px solid #ab0000;
    color:#ffffff;
}            
.sat-btn-3:hover{
    background-color: #ab0000;
    border: 1px solid #ab0000;
    color:#ffffff;
} 

.sat-btn-4{
    background-color: #f4f3f0;
    border: 1px solid #d6d3cc;
    color:#000000;
}            
.sat-btn-4:hover{
    background-color: #d6d3cc;
    border: 1px solid #d6d3cc;
    color:#000000;
}
.sat-btn-1-old{
    background: linear-gradient(#666666, #333333);
    border: 1px solid #333333;
    color:#ffffff;
}            
.sat-btn-1-old:hover{
    background: linear-gradient(#333333, #666666);
    border: 1px solid #333333;
    color:#ffffff;
}

.sat-btn-2-old{
    background: linear-gradient(#9e9890, #7f766e);
    border: 1px solid #7f766e;
    color:#ffffff;
}            
.sat-btn-2-old:hover{
    background: linear-gradient(#7f766e, #9e9890);
    border: 1px solid #7f766e;
    color:#ffffff;
} 

.sat-btn-3-old{
    background: linear-gradient(#cc0000, #ab0000);
    border: 1px solid #ab0000;
    color:#ffffff;
}            
.sat-btn-3-old:hover{
    background: linear-gradient(#ab0000, #cc0000);
    border: 1px solid #ab0000;
    color:#ffffff;
} 

.sat-btn-4-old{
    background: linear-gradient(#f4f3f0, #d6d3cc);
    border: 1px solid #d6d3cc;
    color:#000000;
}            
.sat-btn-4-old:hover{
    background: linear-gradient(#d6d3cc, #f4f3f0);
    border: 1px solid #d6d3cc;
    color:#000000;
}